* {
  margin: 0;
  padding: 0;
  color: #f5f3f4;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

a {
  text-decoration: none;
}

h1 {
  letter-spacing: -6%;
}

body {
  background: #161a1d;
}
